* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    font-family: arial, ;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    
}

nav {
    background-color: #000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin:0 30px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    
}

.conteiner {
    display: flex;
    min-height: 300px;
}

main {
    background-color: #ccc;
    flex: 3;
    font-family: arial;
    padding: 30px;
    color: #333;
}

aside {
    padding: 30px ;
    padding-right: 110px;
    font-family: arial;
    color: #333;
}

footer {
    display: block;
    display: flex;
    justify-content: center;
    min-height: 150px;
    background-color:#333 ;
    color: white;

}