
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
}


.site-header {
    background: #c8102e;
    padding: 20px 0;
    text-align: center;
    color: white;
}

.place-title {
    font-size: 3rem;
    font-weight: bold;
}


.hero {
    height: 100vh;
    width: 100%;
    background-image: url("sua-imagem.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
   
}

.hero-img {
    width: 100%;
    height: 100%;

   
    object-fit: cover;
    object-position: center;
}


.container {
    position: relative;
}


.data-card {
    position: absolute;
    top: 20%;
    left: 5%;
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    width: 280px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.data-card h2 {
    background: #0b6623;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.data-list {
    list-style: none;
    line-height: 1.7rem;
}


.weather-section {
    position: absolute;
    top: 60%;
    right: 5%;
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    width: 250px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.weather-heading {
    background: #0b6623;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1.3rem;
}


.weather-mobile-icon {
    text-align: right;
    margin-bottom: 10px;
}


.site-footer {
    background: #c8102e;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 20px;
}

.footer-inner p {
    margin: 5px 0;
}


@media (max-width: 768px) {

    .data-card,
    .weather-section {
        position: static;
        width: 90%;
        margin: 20px auto;
    }

  
    .hero {
        height: auto;
    }

    .hero-img {
        max-height: 400px;
        object-fit: cover;
    }
}