
@media (min-width:801px) {
    .hamburger {
        display: none
    }

    
    .nav {
        display: block
    }

    
    .nav ul {
        flex-direction: row;
        gap: 1rem;
        align-items: center
    }

    .nav a {
        color: #fff;
        background: transparent;
        padding: .35rem .5rem
    }

    
    main {
        margin: 2rem auto;
        padding: 0 1.5rem
    }

    h1 {
        font-size: 1.5rem
    }

    
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    figure {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.06)
    }
}


@media (min-width:501px) and (max-width:800px) {
    .hamburger {
        display: none
    }

    .nav {
        display: block
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr)
    }
}